outputs/*
!outputs/.gitkeep
data/pointclouds/*
!data/pointclouds/.gitkeep
data/processed/*
!data/processed/.gitkeep
visualizations/*
!visualizations/.gitkeep
model_comparison/*
!model_comparison/.gitkeep

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# logs
**.log

# Evaluation results
evaluation_results/*
!evaluation_results/.gitkeep

# Python cache
__pycache__/
*.py[cod]

# Keep only mesh data
/data/*
!/data/meshes/

# Training artifacts
/logs/
/checkpoints/

/wandb/

/.hydra/

# IDE specific files
.vscode/
.idea/
*.iml

# OS specific files
.DS_Store
Thumbs.db

lightning_logs/
wandb_logs/
